:host {
    display: inline-block;
}

button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;

    font-family: "CodePro";

    line-height: 1.5rem;
    font-size: 1rem;

    padding: 0;

    color: rgba(245, 245, 245, 1);
    background: rgba(110, 110, 110, 1);
}

button span {
    transition: all 0.1s;
    transform: scale(0.8);
    display: block;
}

button:hover {
    background: rgba(130, 130, 130, 1);
}

button:hover span {
    transform: scale(0.9);
}

button:active span {
    transform: scale(1);
}

:host[icon] {
   width: 2rem;
   height: 2rem;
}

:host[icon] button {
   width: 2rem;
   height: 2rem;
   transition: all 0.1s;
   transform: scale(1);
}

:host[icon="remove"] button {
    background-image: url('./images/remove.png');
}

:host[icon] button:hover {
   transform: scale(1.125);
}

:host[icon] button:active {
   transform: scale(1.25);
}
