.file-tree__item-rename {
    line-height: 1.5rem;
    font-family: "Corbert";
    margin: 0.1rem 0;
    padding: 0 0.5rem;
    border: none;
    outline: 1px solid rgba(225, 225, 225, 1);
    display: block;
}
