<section
    class="control-panel__top-row">
    <div>
        <form
            class="control-panel__run-options"
            name="controlPanelOptions">
            <tractor-select
                [label]="'Environment'"
                [(model)]="environment"
                [options]="environments">
            </tractor-select>

            <tractor-button
                [label]="'Run protractor'"
                (click)="runProtractor()">
            </tractor-button>
        </form>
    </div>
    <span
        class="control-panel__server-status"
        [ngClass]="{
            'control-panel__server-status--running': isServerRunning
        }"
        [title]="serverStatus">
    </span>
</section>
