<tractor-file-tree model="componentEditor" type="component"></tractor-file-tree>
<tractor-resize-handle></tractor-resize-handle>
<form class="file" name="component-editor" novalidate
    ng-submit="componentEditor.showErrors() && componentEditor.saveComponentFile()">
    <section class="file-options">
        <h1 class="file-options__name">{{ componentEditor.component.name }}</h1>
        <div>
            <tractor-variable-input class="file-options__name-input"
                ng-if="!componentEditor.component.isSaved"
                form="component-editor"
                label="Name"
                model="componentEditor.component"
                example="Component"
                is-class>
            </tractor-variable-input>
            <tractor-submit class="file-options__save-file"
                action="Save component file">
            </tractor-submit>
        </div>
    </section>

    <section class="file-editor">
        <section ng-show="componentEditor.component.name">
            <section class="file-editor__container">
                <h2>Elements:</h2>

                <section ng-if="componentEditor.component.domElements.length">
                    <ul>
                        <li class="file-editor__list-item" ng-repeat="domElement in componentEditor.component.domElements">
                            <tractor-action
                                model="componentEditor.component"
                                action="Remove element"
                                argument="domElement"
                                icon="remove">
                            </tractor-action>

                            <tractor-variable-input
                                form="component-editor"
                                label="Name"
                                model="domElement"
                                example="element">
                            </tractor-variable-input>
                            <tractor-select
                                label="Type"
                                model="domElement.selector">
                            </tractor-select>
                            <tractor-text-input
                                form="component-editor"
                                label="Locator"
                                model="domElement.selector"
                                example="someController.someModel">
                            </tractor-text-input>

                            <section>
                                <h3>Filters:</h3>

                                <ol ng-if="domElement.filters.length > 1" as-sortable ng-model="domElement.sortableFilters" is-disabled="domElement.filters.length < 3">
                                    <li class="file-editor__list-item" ng-repeat="filter in domElement.sortableFilters" as-sortable-item>
                                        <tractor-action
                                                model="domElement"
                                                action="Remove filter"
                                                argument="filter"
                                                icon="remove">
                                        </tractor-action>
                                        <div class="file-editor__sort-handle" title="Drag to sort"
                                             ng-if="domElement.filters.length > 2"
                                             as-sortable-item-handle>
                                        </div>

                                        <tractor-select ng-if="!domElement.filters[$index].isAll"
                                                        label="Type"
                                                        model="filter">
                                        </tractor-select>
                                        <tractor-text-input
                                                form="component-editor"
                                                label="Locator"
                                                model="filter"
                                                example="someController.someModel">
                                        </tractor-text-input>
                                    </li>
                                </ol>

                                <tractor-action
                                    model="domElement"
                                    action="Add filter">
                                </tractor-action>
                            </section>
                        </li>
                    </ul>
                </section>

                <tractor-action
                    model="componentEditor.component"
                    action="Add element">
                </tractor-action>
            </section>

            <section class="file-editor__container">
                <h2>Actions:</h2>

                <section ng-if="componentEditor.component.actions.length">
                    <ul>
                        <li class="file-editor__list-item" ng-repeat="action in componentEditor.component.actions">
                            <tractor-action
                                model="componentEditor.component"
                                action="Remove action"
                                argument="action"
                                icon="remove">
                            </tractor-action>

                            <tractor-variable-input
                                form="component-editor"
                                label="Name"
                                model="action"
                                example="action">
                            </tractor-variable-input>

                            <section>
                                <h3>Parameters:</h3>

                                <ol ng-if="action.parameters.length" as-sortable ng-model="action.parameters" is-disabled="action.parameters.length < 2">
                                    <li class="file-editor__list-item" ng-repeat="parameter in action.parameters" as-sortable-item>
                                        <tractor-action
                                            model="action"
                                            action="Remove parameter"
                                            argument="parameter"
                                            icon="remove">
                                        </tractor-action>
                                        <div ng-if="action.parameters.length > 1" class="file-editor__sort-handle" as-sortable-item-handle title="Drag to sort"></div>

                                        <tractor-variable-input
                                            form="component-editor"
                                            label="Name"
                                            model="parameter"
                                            example="parameter">
                                        </tractor-variable-input>
                                    </li>
                                </ol>

                                <tractor-action
                                    model="action"
                                    action="Add parameter">
                                </tractor-action>
                            </section>

                            <section>
                                <h3>Interactions:</h3>

                                <ol ng-if="action.interactions.length" as-sortable ng-model="action.interactions" is-disabled="action.interactions.length < 2">
                                    <li class="file-editor__list-item" ng-repeat="interaction in action.interactions" as-sortable-item>
                                        <tractor-action
                                            model="action"
                                            action="Remove interaction"
                                            argument="interaction"
                                            icon="remove">
                                        </tractor-action>
                                        <div ng-if="action.interactions.length > 1" class="file-editor__sort-handle" as-sortable-item-handle title="Drag to sort"></div>

                                        <tractor-select
                                            label="Element"
                                            model="interaction"
                                            options="componentEditor.component.elements"
                                            as="name">
                                        </tractor-select>
                                        <tractor-select
                                            label="Method"
                                            model="interaction"
                                            options="interaction.element.methods"
                                            as="name">
                                        </tractor-select>

                                        <div ng-repeat="argument in interaction.arguments">
                                            <tractor-literal-input
                                                form="component-editor"
                                                name="argument.name"
                                                model="argument"
                                                description="argument.description"
                                                required="argument.required"
                                                type="argument.type">
                                            </tractor-literal-input>
                                        </div>
                                    </li>
                                </ol>

                                <tractor-action
                                    model="action"
                                    action="Add interaction">
                                </tractor-action>
                            </section>
                        </li>
                    </ul>
                </section>

                <tractor-action
                    model="componentEditor.component"
                    action="Add action">
                </tractor-action>
            </section>
        </section>
    </section>
</form>
