<tractor-file-tree
    [directory]="directory">
</tractor-file-tree>

<tractor-file-editor
    *ngIf="feature">
    <form
        #form="ngForm"
        (ngSubmit)="trySave(feature)">
        <tractor-file-options>
            <h1
                 class="file-options__name">
                 {{ feature.name }}
             </h1>

            <div
                *ngIf="!feature.isSaved">
                <tractor-input
                    class="file-options__name-input"
                    [label]="'Name'"
                    [placeholder]="'Feature'"
                    [(model)]="feature.name">
                    <!-- is-class> -->
                </tractor-input>
            </div>
            <div
                class="file-options__file-actions">
                <tractor-confirm
                    [trigger]="confirmOverwrite">
                    <p>This will overwrite "{{ feature.name }}". Continue?</p>
                </tractor-confirm>
                <tractor-submit
                    class="file-options__save-file"
                    [label]="'Save file'">
                </tractor-submit>
                <tractor-button
                    class="file-options__new-file"
                    [label]="'New file'"
                    (click)="newFile()">
                </tractor-button>
            </div>
        </tractor-file-options>

        <section
            class="file-editor"
            *ngIf="feature.name">

            <section
                class="file-editor__container">
                <h2>
                    Feature:
                </h2>

                <tractor-input
                    [label]="'In order to'"
                    [placeholder]="'achieve some goal'"
                    [(model)]="feature.inOrderTo">
                </tractor-input>
                <tractor-input
                    [label]="'As a'"
                    [placeholder]="'certain type of user'"
                    [(model)]="feature.asA">
                </tractor-input>
                <tractor-input
                    [label]="'I want'"
                    [placeholder]="'to be able to do something'"
                    [(model)]="feature.iWant">
                </tractor-input>
            </section>

            <section
                class="file-editor__container">
                <h2>
                    Scenarios:
                </h2>

                <ul
                    *ngIf="feature.scenarios.length">
                    <li
                        class="file-editor__list-item"
                        *ngFor="let scenario of feature.scenarios">
                        <!-- ng-class="{ 'file-editor__list-item--minimised': scenario.minimised }" -->
                        <!-- ng-dblclick="featureEditor.minimise(scenario)"> -->

                        <tractor-button
                            [icon]="'remove'"
                            [label]="'Remove scenario'"
                            (click)="feature.removeScenario()">
                        </tractor-button>

                        <tractor-input
                            [label]="'Name'"
                            [placeholder]="'scenario'"
                            [(model)]="scenario.name">
                        </tractor-input>

                        <section>
                            <h3>
                                Step Declarations:
                            </h3>

                            <ol
                                *ngIf="scenario.stepDeclarations.length">
                                <!-- as-sortable ng-model="scenario.stepDeclarations"  -->
                                <!-- is-disabled="scenario.stepDeclarations.length < 2"> -->
                                <li
                                    class="file-editor__list-item"
                                    *ngFor="let stepDeclaration of scenario.stepDeclarations">
                                    <!-- as-sortable-item> -->

                                    <tractor-button
                                        [icon]="'remove'"
                                        [label]="'Remove step declaration'"
                                        (click)="scenario.removeStepDeclaration()">
                                    </tractor-button>

                                    <div
                                        class="file-editor__list-item-sort-handle"
                                        title="Drag to sort"
                                        *ngIf="scenario.stepDeclarations.length > 1">
                                        <!-- as-sortable-item-handle > -->
                                    </div>

                                    <tractor-select
                                        [label]="'Type'"
                                        [options]="stepDeclaration.types"
                                        [(model)]="stepDeclaration.type">
                                    </tractor-select>

                                    <!-- <tractor-step-input -->
                                    <tractor-input
                                        [label]="'Step'"
                                        [placeholder]="'something happens'"
                                        [(model)]="scenario.step">
                                    </tractor-input>
                                    <!-- </tractor-step-input -->
                                </li>
                            </ol>

                            <tractor-button
                                [label]="'Add step declaration'"
                                (click)="scenario.addStepDeclaration()">
                            </tractor-button>
                        </section>

                        <section
                            *ngIf="scenario.exampleVariables.length">
                            <h3>
                                Examples:
                            </h3>

                            <ul>
                                <li
                                    class="file-editor__list-item"
                                    *ngFor="let example of scenario.examples">
                                    <tractor-button
                                        [icon]="'remove'"
                                        [label]="'Remove example'"
                                        (click)="scenario.removeExample(example)">
                                    </tractor-button>

                                    <!-- <tractor-literal-input -->
                                    <tractor-input
                                        *ngFor="let exampleVariable of scenario.exampleVariables"
                                        [(model)]="example.values[exampleVariable]">
                                    </tractor-input>
                                    <!-- </tractor-literal-input -->
                                </li>
                            </ul>

                            <tractor-action
                                model="scenario"
                                action="Add example">
                            </tractor-action>
                        </section>
                    </li>
                </ul>

                <tractor-button
                    [label]="'Add scenario'"
                    (click)="feature.addScenario()">
                </tractor-button>
            </section>
        </section>
    </form>
</tractor-file-editor>
