<tractor-file-tree model="stepDefinitionEditor" type="step-definition"></tractor-file-tree>
<tractor-resize-handle></tractor-resize-handle>
<form class="file" name="step-definition-editor" novalidate
    ng-submit="stepDefinitionEditor.showErrors() && stepDefinitionEditor.saveStepDefinitionFile()">
    <section class="file-options" ng-if="stepDefinitionEditor.stepDefinition">
        <h1 class="file-options__name">{{ stepDefinitionEditor.stepDefinition.name }}</h1>
        <div>
            <tractor-submit class="file-options__save-file"
                action="Save step definition file">
            </tractor-submit>
        </div>
    </section>

    <section class="file-editor" ng-if="stepDefinitionEditor.stepDefinition">
        <section ng-if="stepDefinitionEditor.canAddComponents">
            <section class="file-editor__container">
                <h2>Available components:</h2>
                <ul>
                    <li ng-repeat="component in stepDefinitionEditor.stepDefinition.availableComponents"
                        ng-if="stepDefinitionEditor.stepDefinition.components.indexOf(component) === -1">
                        <span> {{ component.name }} </spam>
                        <tractor-action
                            model="stepDefinitionEditor.stepDefinition"
                            action="Add component"
                            argument="component.name">
                        </tractor-action>
                    </li>
                </ul>
            </section>

            <section class="file-editor__container"
                ng-if="stepDefinitionEditor.hasComponents">
                <h2>Active components:</h2>
                <ul>
                    <li ng-repeat="component in stepDefinitionEditor.stepDefinition.componentInstances">
                        <span> {{ component.component.name }} </span>
                        <tractor-action
                            model="stepDefinitionEditor.stepDefinition"
                            action="Remove component"
                            argument="component"
                            icon="remove">
                        </tractor-action>
                    </li>
                </ul>
            </section>
        </section>

        <section ng-if="stepDefinitionEditor.canAddMockData">
            <section class="file-editor__container">
                <h2>Available mock data:</h2>
                <ul>
                    <li ng-repeat="mockData in stepDefinitionEditor.stepDefinition.availableMockData"
                        ng-if="stepDefinitionEditor.stepDefinition.mockData.indexOf(mockData) === -1">
                        <span> {{ mockData.name }} </spam>
                        <tractor-action
                            model="stepDefinitionEditor.stepDefinition"
                            action="Add mock"
                            argument="mockData.name">
                        </tractor-action>
                    </li>
                </ul>
            </section>

            <section class="file-editor__container"
                ng-if="stepDefinitionEditor.hasMockData">
                <h2>Active mock data:</h2>
                <ul>
                    <li ng-repeat="mockData in stepDefinitionEditor.stepDefinition.mockDataInstances">
                        <span> {{ mockData.mockData.name }} </span>
                        <tractor-action
                            model="stepDefinitionEditor.stepDefinition"
                            action="Remove mock"
                            argument="mock"
                            icon="remove">
                        </tractor-action>
                    </li>
                </ul>
            </section>
        </section>

        <section class="file-editor__container" ng-if="stepDefinitionEditor.showMockDataSection">
            <h2>Mock Data:</h2>

            <ul>
                <li class="file-editor__list-item" ng-repeat="mock in stepDefinitionEditor.stepDefinition.step.mocks">
                    <tractor-action
                        model="stepDefinitionEditor.stepDefinition.step"
                        action="Remove mock"
                        argument="mock"
                        icon="remove">
                    </tractor-action>

                    <tractor-text-input
                        form="step-definition-editor"
                        label="URL"
                        model="mock"
                        example="http://example.com">
                    </tractor-text-input>
                    <tractor-select
                        label="Action"
                        model="mock">
                    </tractor-select>
                    <tractor-checkbox
                        label="Pass through"
                        model="mock">
                    </tractor-checkbox>
                    <tractor-select
                        ng-if="!mock.passThrough && stepDefinitionEditor.hasMockData"
                        label="Data"
                        model="mock"
                        options="stepDefinitionEditor.stepDefinition.mockDataInstances"
                        as="name">
                    </tractor-select>
                </li>
            </ul>

            <tractor-action
                model="stepDefinitionEditor.stepDefinition.step"
                action="Add mock">
            </tractor-action>
        </section>

        <section class="file-editor__container" ng-if="stepDefinitionEditor.showTasksSection">
            <h2>Tasks:</h2>

            <ol ng-if="stepDefinitionEditor.stepDefinition.step.tasks.length" as-sortable ng-model="stepDefinitionEditor.stepDefinition.step.tasks" is-disabled="stepDefinitionEditor.stepDefinition.step.tasks.length < 2">
                <li class="file-editor__list-item" ng-repeat="task in stepDefinitionEditor.stepDefinition.step.tasks" as-sortable-item>
                    <tractor-action
                        model="stepDefinitionEditor.stepDefinition.step"
                        action="Remove task"
                        argument="task"
                        icon="remove">
                    </tractor-action>
                    <div ng-if="stepDefinitionEditor.stepDefinition.step.tasks.length > 1" class="file-editor__sort-handle" as-sortable-item-handle title="Drag to sort"></div>

                    <tractor-select
                        label="Component"
                        model="task"
                        options="stepDefinitionEditor.stepDefinition.componentInstances"
                        as="name">
                    </tractor-select>
                    <tractor-select
                        label="Action"
                        model="task"
                        options="task.component.component.actions"
                        as="name">
                    </tractor-select>
                    <div ng-repeat="argument in task.arguments">
                        <tractor-literal-input
                            form="step-definition-editor"
                            name="argument.name"
                            model="argument"
                            required>
                        </tractor-literal-input>
                    </div>
                </li>
            </ol>

            <tractor-action
                model="stepDefinitionEditor.stepDefinition.step"
                action="Add task">
            </tractor-action>
        </section>

        <section  class="file-editor__container" ng-if="stepDefinitionEditor.showExpectationsSection">
            <h2>Expectations:</h2>

            <ul>
                <li class="file-editor__list-item" ng-repeat="expectation in stepDefinitionEditor.stepDefinition.step.expectations">
                    <tractor-action
                        model="stepDefinitionEditor.stepDefinition.step"
                        action="Remove expectation"
                        argument="expectation"
                        icon="remove">
                    </tractor-action>

                    <tractor-select
                        label="Component"
                        model="expectation"
                        options="stepDefinitionEditor.stepDefinition.componentInstances"
                        as="name">
                    </tractor-select>
                    <tractor-select
                        label="Action"
                        model="expectation"
                        options="expectation.component.component.actions"
                        as="name">
                    </tractor-select>
                    <div ng-repeat="argument in expectation.arguments">
                        <tractor-literal-input
                            form="step-definition-editor"
                            name="argument.name"
                            model="argument"
                            type="argument.type">
                        </tractor-literal-input>
                    </div>
                    <tractor-literal-input
                        form="step-definition-editor"
                        name="'Expected result'"
                        model="expectation">
                    </tractor-literal-input>
                </li>
            </ul>

            <tractor-action
                model="stepDefinitionEditor.stepDefinition.step"
                action="Add expectation">
            </tractor-action>
        </section>
    </section>
</form>
