tractor-notifier {
    position: absolute;
    bottom: 0rem;
    right: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.notifier__notifications {
    list-style: none;
}

.notifier__notification  {
    text-align: right;
    font-size: 0;
      margin-bottom: 0.5rem;
}

.notifier__notification--info .notifier__notification-message {
    background: rgba(245, 245, 245, 0.9);
}

.notifier__notification--error .notifier__notification-message {
    background: rgba(255, 50, 50, 0.9);
    color: rgba(245, 245, 245, 1);
}

.notifier__notification-message {
    line-height: 2rem;
    font-size: 1rem;
    display: inline-block;
    padding: 0 0.5rem;
}

.notifier__notification-dismiss {
    height: 2rem;
    width: 2rem;
    vertical-align: bottom;

    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: #6e6e6e;
    background-image: url(./images/dismiss.png);
}
