/dist
/node_modules
reports
npm-debug.log
lerna-debug.log
.sass-cache
.idea/*
.vscode
.DS_Store
packages/*/node_modules
packages/*/dist
packages/**/etc
packages/**/*.tgz
plugins/*/node_modules
plugins/*/dist
plugins/**/etc
plugins/**/*.tgz
package.json.lerna_backup
.nyc_output

plugins/mocha-specs/test
plugins/mock-requests/test
plugins/page-objects/test