dist
node_modules
reports
npm-debug.log
lerna-debug.log
.sass-cache
.idea/*
.vscode
.DS_Store
packages/**/etc
packages/**/*.tgz
plugins/**/etc
plugins/**/*.tgz
package.json.lerna_backup
