sudo: required
dist: trusty
language: node_js
node_js:
  - "lts/*"
addons:
  firefox: "latest"
  chrome: "stable"
  code_climate:
    repo_token: 8d10d6cde56517aeddfa424ac22bd46d319dc75a86570077a690a2f6ef51f92f
before_install:
  - gem install sass
  - gem install compass
install:
  - yarn
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: yarn run build
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < ./reports/coverage/lcov.info
