@import '../../../styles/_constants.scss';
@import '../../../styles/_fonts.scss';

nav > * {
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: $small-spacing 0 $standard-spacing;
    font-size: 0;
}

nav ul li {
    display: inline-block;
}

nav li a {
    font-family: $heading-type;
    font-size: 1.75rem;
    line-height: 2.25rem;

    padding: 0 $standard-spacing;
    margin-right: $standard-spacing;
    color: $font-dark;
    display: inline-block;
}

nav li.active a {
    background: $primary-light;
    color: $font-dark;
}

nav li a:hover {
    background: $primary-lighter;
}

nav li a:focus {
    outline: none;
}
