<label>{{ stepInput.label }}: </label>
<input name="step-{{ stepInput.id }}" type="text" placeholder="e.g. {{ example }}"
    ng-change="stepInput.handleSearch(stepInput.model.step)"
    ng-keydown="handleKeyDown($event)"
    ng-model="stepInput.model.step"
    ng-model-options="{ allowInvalid: true }"
    example-name
    required />
<div ng-messages="form['step-' + id].$error">
    <ng-message when="required">Required</ng-message>
    <ng-message when="exampleName">That is not a valid example name</ng-message>
</div>
<ul
    class="suggestions-list"
    ng-if="stepInput.isOpen">
    <li ng-repeat="suggestion in stepInput.items track by $index | limitTo:10"
        ng-class="{
           'active': selectedIndex === $index
        }"
        ng-click="stepInput.itemSelected($index)"
        ng-mouseover="$parent.selectedIndex = $index">{{ suggestion }}
    </li>
    <li
        ng-if="stepInput.hasMore">Only showing first 10 results, type more to refine suggestions...
    </li>
</ul>
