<div class="dialog__wrapper" ng-if="confirmDialog.trigger">
    <div class="dialog__outer">
        <div class="dialog__inner">
            <div class="dialog__content" ng-transclude></div>
            <div class="dialog__actions">
                <tractor-action
                    model="confirmDialog"
                    action="Ok">
                </tractor-action>
                <tractor-action
                    model="confirmDialog"
                    action="Cancel">
                </tractor-action>
            </div>
        </div>
    </div>
</div>
