tractor-page-objects,
tractor-page-objects > div {
    height: 100%;
    width: 100%;
}

.file-tree--item--unused p::before {
    content: "⚠️ unused";
    color: rgba(255, 10, 10, 1);
}

.file-tree__item--page-object {
    background-image: url('./page-object.png');

    &.dragover {
        background-image: url('./move-page-object-to-directory.png');
    }
}

.file-editor__list-item-reference--element-type {
    width: 1rem;
    height: 4rem;
    display: inline-block;
    cursor: pointer;
    float: none;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
}

.deprecated {
    background: rgba(255, 60, 60, 1);
    padding: 0.5rem;
    color: white;
    margin-bottom: .5rem;
}

.included {
    background: rgba(60, 60, 60, 1);
    padding: 0.5rem;
    color: white;
    margin-bottom: .5rem;
}

.unparseable {
    background: rgba(255, 255, 20, 1);
    padding: .5rem;
    display: inline-block;
    margin-bottom: .5rem;
}

.unused {
    background: rgba(255, 100, 0, 1);
    padding: 0.5rem;
    color: white;
    margin-bottom: .5rem;
}