@import '../../../styles/_constants.scss';
@import '../../../styles/_fonts.scss';

.dialog__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.dialog__outer {
    display: table;
    margin: 200px auto;
}

.dialog__inner {
    background: rgba(255, 255, 255, 0.9);
    display: table-cell;
    width: 320px;
    text-align: center;
    vertical-align: middle;
}

.dialog__content {
    line-height: 1.5rem;
    font-family: $body-type;
    font-size: 1.25rem;
    color: $font-dark;
}

.dialog__actions /deep/ tractor-button {
    width: 160px;
}

.dialog__actions /deep/ tractor-button button {
    width: 100%;
}
