<div
    class="dialog__wrapper"
    *ngIf="trigger">
    <div
        class="dialog__outer">
        <div class="dialog__inner">
            <div
                class="dialog__content">
                <ng-content></ng-content>
            </div>
            <div
                class="dialog__actions">
                <tractor-button
                    [label]="'Ok'"
                    (click)="ok()">
                </tractor-button>
                <tractor-button
                    [label]="'Cancel'"
                    (click)="cancel()">
                </tractor-button>
            </div>
        </div>
    </div>
</div>
