.file-options {
    font-size: 0;
    width: 80%;
    height: 14%;
    background: rgba(240, 240, 240, 0.8);
}

.file-options__name {
    display: inline-block;

    padding: 0 0.5rem;
    max-width: 45%;

    text-overflow: ellipsis;
    overflow: hidden;
}

.file-options > div {
    display: inline-block;
}

.file-options__name-input,
.file-options__save-file {
    display: table-cell;
    vertical-align: top;
}

.file-options > div {
    width: 55%;
}
.file-options__name-input,
.file-options__save-file {
    width: 50%;
}

.file-options > div {
    vertical-align: top;
    margin-top: 1.75rem;
    margin-bottom: 0.875rem;
}

.file-options__name {
    text-align: center;
}

.file-options__save-fil{
    vertical-align: top;
}
