@import '../../../../styles/constants';

.file-tree__item-actions {
    position: absolute;
    left: -($large-spacing + $small-spacing);
    height: $huge-spacing;
    width: $huge-spacing;
}

.file-tree__item-actions-panel {
    position: absolute;
    top: $huge-spacing;
    left: -($large-spacing + $small-spacing);
    margin-top: -$huge-spacing;
    padding-top: $huge-spacing;
    z-index: 1;
    width: 8rem;

    & tractor-button, & tractor-button /deep/ button {
        width: 100%;
    }
}

tractor-button /deep/ button {
    background: rgba(205, 205, 205, 1);
    color: $font-dark;
    white-space: nowrap;

    &:hover {
        background: rgba(225, 225, 225, 1);
    }
}
