<div class="file-tree__item-actions"
     [ngClass]="{
         'file-tree__item-active-actions': item?.showActions
     }"
     (click)="showActions(item)">
</div>
<div class="file-tree__item-actions-panel"
    *ngIf="item?.showActions"
    (mouseleave)="hideActions(item)">
    <tractor-button
        *ngIf="canModify"
        [label]="'Edit name'"
        (click)="editName(item)">
    </tractor-button>
    <tractor-button
        *ngIf="canModify && !item.isDirectory"
        [label]="'Copy'"
        (click)="copy(item)">
    </tractor-button>
    <tractor-button
        [label]="'Delete'"
        (click)="delete(item)">
    </tractor-button>
</div>
