$primary: rgba(66, 210, 83, 1);
$primary-light: rgba(66, 230, 103, 1);
$primary-lighter: rgba(66, 250, 123, 1);

$background-lightest: rgba(250, 250, 250, 1);

$standard-spacing: 0.5rem;
$small-spacing: 0.25rem;
$large-spacing: $standard-spacing * 2;
$huge-spacing: $standard-spacing * 3;
$ridiculous-spacing: $standard-spacing * 4;

$font-dark: rgba(0, 0, 0, 1);

#link { 
    background-image: url('./images/link.png'); 
    width:16px; 
    height:16px;
    display: block;
    float: right;
    cursor:pointer;
}

#references:hover {
    cursor:pointer;
    color: dodgerblue;
}
