.file-options {
    font-size: 0;
    height: 10%;
    background: rgba(240, 240, 240, 0.8);
}

.file-options__name {
    display: inline-block;
    vertical-align: top;

    padding: $standard-spacing;
    margin: $standard-spacing 0;
    max-width: 45%;

    text-overflow: ellipsis;
    overflow: hidden;
}

.file-options > div {
    display: inline-block;
    width: 55%;
    margin-top: 0.5rem;
}

.file-options__name-input,
.file-options__save-file {
    display: table-cell;
    vertical-align: top;
}

.file-options__name-input,
.file-options__save-file {
    width: 50%;
    line-height: 4rem;
}

.file-options__save-file button {
    margin-top: 1.5rem;
}
