.file-tree {
    background: $background-lightest;

    width: 20%;
    overflow: hidden;
}

.file-tree h2 {
    padding-left: $large-spacing;
}

.file-tree__file-list li {
    list-style: none;
    margin-left: -$large-spacing;
    padding-left: $huge-spacing;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.file-tree__file-list li a {
    text-decoration: none;
    color: $font-dark;
}

.file-tree__file-list--javascript li {
    background-image: url('./images/js.png');
}

.file-tree__file-list--feature li {
    background-image: url('./images/feature.png');
}

.file-tree__file-list--json li {
    background-image: url('./images/json.png');
}

.file-tree__file-list-file {
    line-height: $huge-spacing;
    font-family: $body-type;
    cursor: pointer;

    &:hover, &.active {
        font-weight: bolder;
    }

    &.active {
        display: block;
        transform: translateX($large-spacing);
    }
}
