form.file {
    float: left;
    width: 80%;
    height: 100%;
}

.file-editor {
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.file-editor ul,
.file-editor ol {
    padding-left: 3rem;
    list-style: none;
    display: block;
    position: relative;
}

.file-editor__list-item {
    position: relative;
    padding: $standard-spacing;
    margin-right: $standard-spacing + 2;
    margin-bottom: $standard-spacing;
    background: rgba(245, 245, 245, 1);
}

.file-editor__list-item .file-editor__list-item {
    background: rgba(235, 235, 235, 1);
}

.file-editor tractor-variable-input,
.file-editor tractor-text-input,
.file-editor tractor-literal-input,
.file-editor tractor-select,
.file-editor tractor-step-input,
.file-editor tractor-checkbox {
    font-size: 0;
    display: inline-block;
    margin-bottom: $standard-spacing;
    vertical-align: top;
}

.file-editor section > tractor-action:last-child {
    height: 2.5rem;
    padding-left: $large-spacing;
}

.file-editor section > tractor-action:last-child button {
    margin-top: 0;
}

.file-editor li > tractor-action:first-of-type {
    position: absolute;
    top: 0rem;
    left: -2rem;
    padding: 0;
}

.file-editor li > tractor-action:first-of-type button {
    background-image: url('./images/remove.png')
}

.file-editor li > tractor-action:first-of-type button {
    margin-top: 0;
}

.file-editor__main-bar {
    position: fixed;
    top: 13.5%;
    right: 20%;
}

.file-editor__container {
    padding-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.file-editor__sort-handle {
    position: absolute;
    top: 0rem;
    right: -2rem;
    width: 2rem;
    height: 2rem;
    background: rgba(110, 110, 110, 1);
    background-image: url('./images/sortable.png')
}
