form.file {
    float: left;
    width: 80%;
    height: 100%;
}

.file-editor__container {
    padding-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.file-editor {
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.file-editor ul,
.file-editor ol {
    padding-left: 3rem;
    list-style: none;
    display: block;
    position: relative;
}

.file-editor section > tractor-action:last-child {
    height: 2.5rem;
    padding-left: $large-spacing;

    & button {
        margin-top: 0;
    }
}

.file-editor__list-item {
    position: relative;
    padding: $standard-spacing;
    padding-bottom: 0;
    margin-right: $standard-spacing + 2;
    margin-bottom: $standard-spacing;
    background: rgba(245, 245, 245, 1);

    h3 {
        display: inline-block;
    }

    & .file-editor__list-item {
        background: rgba(235, 235, 235, 1);
    }

    & tractor-variable-input,
    & tractor-text-input,
    & tractor-literal-input,
    & tractor-select,
    & tractor-step-input,
     tractor-checkbox {
        font-size: 0;
        display: inline-block;
        vertical-align: top;
    }
    
    & .file-editor__list-item-name {
        display: none;
    }

    & .file-editor__list-item-sort-handle {
        position: absolute;
        top: 0rem;
        right: -2rem;
        width: 2rem;
        height: 2rem;
        background: rgba(110, 110, 110, 1);
        background-image: url('./images/sortable.png')
    }

    &.file-editor__list-item--minimised {
        padding: 0 0.5rem;
        
        tractor-action[icon="collapse"] button{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
            transition: all 0.1s;
        }

        .file-editor__list-item-name {
            display: inline-block;
        }

        tractor-variable-input,
        tractor-text-input,
        tractor-literal-input,
        tractor-select,
        tractor-step-input,
        tractor-checkbox,
        section {
            display: none;
        }
    }
}
