.file-options {
    font-size: 0;
    height: 14.5%;
    background: rgba(240, 240, 240, 0.8);
}

.file-options__name {
    display: inline-block;

    padding: $standard-spacing;
    max-width: 45%;

    text-overflow: ellipsis;
    overflow: hidden;
}

.file-options > div {
    display: inline-block;
    width: 55%;
    vertical-align: top;
    margin-top: 1.25rem;
}

.file-options__name-input,
.file-options__save-file {
    display: table-cell;
    vertical-align: top;
}

.file-options__name-input,
.file-options__save-file {
    width: 50%;
    line-height: 5.75rem;
}

.file-options__name {
    text-align: center;
}

.file-options__save-fil{
    vertical-align: top;
}
