@font-face {
    font-family: 'LeagueGothic';
    src: url('./fonts/LeagueGothic-Regular-webfont.eot');
    src: url('./fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/LeagueGothic-Regular-webfont.woff2') format('woff2'),
         url('./fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('./fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('./fonts/LeagueGothic-Regular-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CodePro';
    src: url('./fonts/Code_Pro_Demo-webfont.eot');
    src: url('./fonts/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('./fonts/Code_Pro_Demo-webfont.woff') format('woff'),
         url('./fonts/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('./fonts/Code_Pro_Demo-webfont.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corbert';
    src: url('./fonts/Corbert-Regular-webfont.eot');
    src: url('./fonts/Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Corbert-Regular-webfont.woff2') format('woff2'),
         url('./fonts/Corbert-Regular-webfont.woff') format('woff'),
         url('./fonts/Corbert-Regular-webfont.ttf') format('truetype'),
         url('./fonts/Corbert-Regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('./fonts/ubuntumono-r-webfont.eot');
    src: url('./fonts/ubuntumono-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/ubuntumono-r-webfont.woff2') format('woff2'),
         url('./fonts/ubuntumono-r-webfont.woff') format('woff'),
         url('./fonts/ubuntumono-r-webfont.ttf') format('truetype'),
         url('./fonts/ubuntumono-r-webfont.svg#ubuntu_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$heading-type: "LeagueGothic";
$body-type: "Corbert";
