header {
    background: $primary;
    padding: 0 $large-spacing;
}

header section, header nav {
    height: 50%;
}

.control-panel__top-row {
    padding: $standard-spacing 0;
}

.app-root-url {
    display: inline-block;
    background: $primary-light;
    padding: 0 $standard-spacing;

    & > * {
        display: inline-block
    }

    h3 {
        margin: 0.5rem 0;
    }

    span {
        vertical-align: top;
        line-height: 1.75rem;
        margin: 0.5rem 0;
        font-size: 1rem;
        color: #eee;
    }
}

.control-panel__top-row tractor-action {
    vertical-align: top;
    margin: 0.625rem 0;
}

nav > * {
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

nav ul li {
    display: inline-block;
}

nav li a {
    font-family: $heading-type;
    font-size: 2.25rem;
    line-height: 3rem;

    padding: 0 $standard-spacing;
    margin-right: $standard-spacing;
    color: $font-dark;
    display: inline-block;
}

nav li.active a {
    background: $primary-light;
    color: $font-dark;
}

nav li a:hover {
    background: $primary-lighter;
}

nav li a:focus {
    outline: none;
}
