tractor-action,
tractor-submit {
    display: inline-block;
}

tractor-action button,
tractor-submit button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;

    font-family: "CodePro";

    line-height: 1.5rem;
    font-size: 1rem;

    padding: 0;

    color: rgba(245, 245, 245, 1);
    background: rgba(110, 110, 110, 1);
}

tractor-action button span,
tractor-submit button span {
    transition: all 0.1s;
    transform: scale(0.8);
    display: block;
}

tractor-action button:hover,
tractor-submit button:hover {
    background: rgba(130, 130, 130, 1);
}

tractor-action button:hover span,
tractor-submit button:hover span {
    transform: scale(0.9);
}

tractor-action button:active span,
tractor-submit button:active span {
    transform: scale(1);
}

tractor-action[icon] {
   width: 2rem;
   height: 2rem;
}

tractor-action[icon] button {
   width: 2rem;
   height: 2rem;
   transition: all 0.1s;
   transform: scale(1);
}

tractor-action[icon="collapse"]{
    position: absolute;
    top: 2px;
    right: 3px; 

    & button {
        background-image: url('./images/collapse.png');
        border-radius: 7px;
    }
}

tractor-action[icon="remove"]{
    position: absolute;
    top: 0rem;
    left: -2rem;
    padding: 0;
    margin-top: 0;
    
    & button {
        background-image: url('./images/remove.png');
    }
}

tractor-action[icon] button:hover {
   transform: scale(1.125);
}

tractor-action[icon] button:active {
   transform: scale(1.25);
}
