body {
    font-family: "Corbert";
    font-size: 0.875rem;
    line-height: 0.875rem;
}

h1 {
    font-family: "LeagueGothic";
    font-size: 3rem;
    font-weight: normal;
    line-height: 3rem;
    margin-top: 1.25rem;
    margin-bottom: 0.875rem;
}
h2 {
    font-family: "LeagueGothic";
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
h3 {
    font-family: "CodePro";
    font-size: 0.875rem;
    line-height: 0.875rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}
p, ul, ol, pre, table, blockquote {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

hr {
    border: 1px solid;
    margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
b, strong, em, small, code {
    line-height: 1;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}
