@import '~normalize.scss/normalize';
@import './typography';

* {
    box-sizing: border-box;
}

html, body {
    min-height: 800px;
    min-width: 1200px;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
}

main {
    height: 86.125%;
}

main > div {
    height: 100%;
}
