<script type="text/ng-template" id="file-options.html">
    <div class="file-tree__item-options"
         ng-class="{ 'file-tree__item-active-options': item.showOptions }"
         ng-click="fileTree.showOptions(item)">
    </div>
    <div class="file-tree__item-options-panel"
         ng-if="item.showOptions"
         ng-mouseleave="fileTree.hideOptions(item)">
        <tractor-action
            ng-if="fileTree.canModify"
            model="fileTree"
            action="Edit name"
            argument="item">
        </tractor-action>
        <tractor-action
            ng-if="fileTree.canModify && !item.isDirectory"
            model="fileTree"
            action="Copy"
            argument="item">
        </tractor-action>
        <tractor-action
            model="fileTree"
            action="Delete"
            argument="item">
        </tractor-action>
    </div>
</script>

<script type="text/ng-template" id="rename-input.html">
    <input class="file-tree__item-rename"
            ng-if="item.editingName"
            ng-model="item.name"
            ng-blur="fileTree.saveNewName(item)"
            ng-keypress="fileTree.renameOnEnter($event, item)"
            tractor-give-focus
            focus-on="item.editingName">
    </input>
</script>

<script type="text/ng-template" id="file-structure.html">
    <div ng-include="'file-options.html'"></div>

    <p class="file-tree__item-name"
        ng-if="item.name && !item.editingName"
        ng-click="fileTree.toggleOpenDirectory(item)"
        ng-dblclick="fileTree.editName(item)">
        {{ item.name }}
    </p>
    <div ng-include="'rename-input.html'"></div>

    <ul class="file-tree__file-list"
        ng-if="(item || fileTree.model.fileStructure.directory).open">
        <li class="file-tree__file-list-item file-tree__file-list-item--new-directory">
            <tractor-action
                model="fileTree"
                action="Add directory"
                argument="item || fileTree.model.fileStructure.directory">
            </tractor-action>
        </li>

        <li class="file-tree__file-list-item file-tree__file-list-item--directory"
            ng-class="{ 'file-tree__file-list-item--open-directory': item.open }"
            ng-repeat="item in (item || fileTree.model.fileStructure.directory).directories"
            ng-include="'file-structure.html'"
            tractor-drop-file
            on-drop="fileTree.editFilePath"
            drop-directory="item">
        </li>

        <li class="file-tree__file-list-item"
            ng-repeat="item in (item || fileTree.model.fileStructure.directory).files"
            tractor-drag-file>
            <div ng-include="'file-options.html'"></div>

            <p class="file-tree__item-name"
                ng-if="item.name && !item.editingName"
                ng-click="fileTree.openFile(item)"
                ng-dblclick="fileTree.editName(item)">
                {{ fileTree.getName(item) }}
            </p>
            <div ng-include="'rename-input.html'"></div>
        </li>
    </ul>
</script>

<section class="file-tree__container"
    tractor-drop-file
    on-drop="fileTree.editFilePath"
    drop-directory="fileTree.model.fileStructure.directory">

    <h2 class="file-tree__header">
        {{ fileTree.headerName }} files:
    </h2>
    <div class="file-tree"
        ng-class="{
            'file-tree--javascript': fileTree.type === 'components' || fileTree.type === 'step-definitions',
            'file-tree--feature': fileTree.type === 'features',
            'file-tree--json': fileTree.type === 'mock-data'
        }"
        ng-include="'file-structure.html'">
    </div>
</section>
