<script type="text/ng-template" id="folder-structure.html">
    <ul>
        <li ng-repeat="item in item.directories"
            ng-include="'folder-structure.html'">
        </li>
        <li ng-repeat="item in item.files"
            class="file-tree__file-list-file">
            <a ui-sref="tractor.{{ fileTree.type }}-editor({ component: item.name })">{{ item.name }}</a>
        </li>
    </ul>
    <button ng-if="!item.showFolderNameInput" ng-click="fileTree.addFolder(item)">New folder</button>
    <input ng-if="item.showFolderNameInput" ng-blur="fileTree.editFolderName(item)" type="text"></input>
</script>

<section>
    <h2>{{ fileTree.headerName }} files:</h2>
    <div class='file-tree__file-list file-tree__file-list--javascript'
         ng-init="item = fileTree.folderStructure"
         ng-include="'folder-structure.html'">
    </div>
</section>