tractor-mock-requests,
tractor-mock-requests > div {
    height: 100%;
    width: 100%;
}

.file-tree--item--unused p::before {
    content: "⚠️ unused";
    color: rgba(255, 10, 10, 1);
}

.file-tree__item--mock-request {
    background-image: url('./mock-request.png');

    &.dragover {
        background-image: url('./move-mock-request-to-directory.png');
    }
}
