tractor-file-tree {
    background: $background-lightest;

    float: left;
    width: 19.75%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
}

tractor-file-tree .file-tree__container {
    float: left;
    height: 100%;
}

tractor-file-tree .file-tree__header {
    padding-left: $large-spacing;
}

tractor-file-tree .file-tree__item-name {
    padding: 0;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    color: $font-dark;
    white-space: nowrap;

    &.file-tree__item--pending {
        background-color: limegreen;
        animation-name: pending;
        animation-duration: 1s;
    }
}

@keyframes pending {
    from {
        background-color: limegreen;
    }
    to {
        background-color: green;
    }
}

tractor-file-tree .file-tree__item-rename {
    line-height: 1.5rem;
    font-family: "Corbert";
    margin: 0.1rem 0;
    padding: 0 0.5rem;
    border: none;
    outline: 1px solid rgba(225, 225, 225, 1);
    display: block;
}

tractor-file-tree .file-tree__file-list .file-tree__file-list {
    padding-left: $large-spacing;
}

tractor-file-tree .file-tree__file-list-item {
    position: relative;
    list-style: none;
    margin: 0.1rem 0;
    margin-left: -$large-spacing;
    padding-left: $ridiculous-spacing;
    background-repeat: no-repeat;
    background-position: $small-spacing 0;
    line-height: $huge-spacing;
    font-family: $body-type;
    cursor: pointer;

    &:hover > p, &.active > p {
        font-weight: bolder;
    }

    &:hover > [ng-include] > .file-tree__item-options {
        background-image: url('./images/options.png');
    }

    & > [ng-include] > .file-tree__item-options.file-tree__item-active-options {
        background-image: url('./images/active-options.png');
    }

    &.active {
        display: block;
        transform: translateX($large-spacing);
    }

    &.file-tree__file-list-item--new-directory {
        background-image: url('./images/new-directory.png');
    }

    &.file-tree__file-list-item--directory {
        background-image: url('./images/directory.png');
    }

    &.file-tree__file-list-item--open-directory {
        background-image: url('./images/open-directory.png');
    }
}

tractor-file-tree .file-tree__item-options {
    position: absolute;
    left: -($large-spacing + $small-spacing);
    height: $huge-spacing;
    width: $huge-spacing;
}

tractor-file-tree .file-tree__item-options-panel {
    position: absolute;
    top: $huge-spacing;
    left: -($large-spacing + $small-spacing);
    margin-top: -$huge-spacing;
    padding-top: $huge-spacing;
    z-index: 1;
    width: 8rem;

    & tractor-action, & button {
        width: 100%;
    }
}

tractor-file-tree tractor-action button {
    background: rgba(205, 205, 205, 1);
    color: $font-dark;
    white-space: nowrap;

    &:hover {
        background: rgba(225, 225, 225, 1);
    }
}
