header {
    background: $primary;
    padding: 0 $large-spacing;
}

.control-panel__top-row > div {
    padding: $standard-spacing 0 $small-spacing;
}

.control-panel__run-options {
    display: inline-block;
    background: $primary-light;
    padding: 0 $standard-spacing;

    & > * {
        display: inline-block;
        width: auto;
    }

    tractor-select {
        margin-top: 0.375rem;
        margin-bottom: -0.375rem;
    }

    tractor-action span {
        line-height: 1.75rem;
        margin: 0.5rem 0;
    }
}

.control-panel__buttons {
    float: right;
    display: inline-block;
    background: $primary-light;
    padding: 0 $standard-spacing;
}

#terminal {
    position: absolute;
    top: 52px;
    right: 16px;
    height: 800px;
    width: 1600px;
    z-index: 1;
}

.control-panel__top-row tractor-action {
    vertical-align: top;
    margin: 0.625rem 0;
}

.control-panel__server-status {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    color: red;
    background-color: red;
    border: 1px solid darkred;
    border-radius: 50%;
}
.control-panel__server-status--running {
    color: green;
    background-color: green;
    border: 1px solid darkgreen;
}

nav > * {
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: $small-spacing 0 $standard-spacing;
    font-size: 0;
}

nav ul li {
    display: inline-block;
}

nav li a {
    font-family: $heading-type;
    font-size: 1.75rem;
    line-height: 2.25rem;

    padding: 0 $standard-spacing;
    margin-right: $standard-spacing;
    color: $font-dark;
    display: inline-block;
}

nav li.active a {
    background: $primary-light;
    color: $font-dark;
}

nav li a:hover {
    background: $primary-lighter;
}

nav li a:focus {
    outline: none;
}
