<section class="file-tree">
    <h3>Mock Data files:</h3>
    <ul class='file-tree__file-list file-tree__file-list--json'>
        <li ng-repeat="mockDataFileName in mockDataEditor.mockDataFileNames"
            ng-click="mockDataEditor.openMockDataFile(mockDataFileName)"
            ng-class="{ true: 'active' }[mockDataFileName === mockDataEditor.mockData.name + '.data.json']"
            class="file-tree__file-list-file">
            <span>{{ mockDataFileName }}</span>
        </li>
    </ul>
</section>

<section class="file-options">
    <h2 class="file-options__name">{{ mockDataEditor.mockData.name }}</h2>
    <div>
        <tractor-text-input class="file-options__name-input"
            label="Name"
            model="mockDataEditor.mockData"
            example="Data">
        </tractor-text-input>
        <tractor-action class="file-options__save-file" model="mockDataEditor" action="Save mock data file"></tractor-action>
    </div>
</section>

<section class="file-editor">
    <section class="file-editor__container">
        <h3>JSON data:</h3>
        <textarea ng-model="mockDataEditor.mockData.json"></textarea>

    </section>
</section>
