<section class="file-tree">
    <h3>Mock Data files:</h3>
    <ul class='file-tree__file-list file-tree__file-list--json'>
        <li ng-repeat="mockDataFileName in mockDataEditor.mockDataFileNames"
            ng-class="{ true: 'active' }[mockDataFileName === mockDataEditor.mockData.name]"
            class="file-tree__file-list-file">
            <a ui-sref="tractor.mock-data-editor({ mockData: mockDataFileName })">{{ mockDataFileName }}</a>
        </li>
    </ul>
</section>

<form class="file" name="mock-data-editor" novalidate
    ng-submit="mockDataEditor.showErrors() && mockDataEditor.saveMockDataFile()">
    <section class="file-options">
        <h2 class="file-options__name">{{ mockDataEditor.mockData.name }}</h2>
        <div>
            <tractor-text-input class="file-options__name-input"
                form="mock-data-editor"
                label="Name"
                model="mockDataEditor.mockData"
                example="Data">
            </tractor-text-input>
            <tractor-submit class="file-options__save-file"
                action="Save mock data file">
            </tractor-submit>
        </div>
    </section>

    <section class="file-editor">
        <section class="file-editor__container">
            <h3>JSON data:</h3>
            <textarea
                ng-model="mockDataEditor.mockData.json"
                required>
            </textarea>
        </section>
    </section>
</form>
